[submodule "glm"]
  path = glm
  url = https://github.com/g-truc/glm
  ignore = untracked

[submodule "glatter"]
	path = glatter
	url = https://github.com/imakris/glatter.git
  ignore = untracked
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
  ignore = untracked
[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb
  ignore = untracked
[submodule "implot"]
	path = implot
	url = https://github.com/epezent/implot.git
[submodule "depthai-core"]
	path = depthai-core
	url = https://github.com/luxonis/depthai-core.git
