[submodule "glm"]
  path = glm
  url = https://github.com/fraxul/glm
  ignore = untracked
[submodule "imgui"]
  path = imgui
  url = https://github.com/ocornut/imgui.git
  ignore = untracked
[submodule "stb"]
  path = stb
  url = https://github.com/nothings/stb
  ignore = untracked
[submodule "implot"]
  path = implot
  url = https://github.com/epezent/implot.git
  ignore = untracked
[submodule "depthai-core"]
  path = depthai-core
  url = https://github.com/Fraxul/depthai-core.git
  ignore = untracked
[submodule "XLink"]
  path = XLink
  url = https://github.com/Fraxul/XLink
  ignore = untracked
[submodule "monado"]
  path = monado
  url = https://gitlab.freedesktop.org/fraxul/monado.git
  ignore = untracked
  branch = standalone
[submodule "canard/libcanard"]
	path = canbus/libcanard
	url = https://github.com/OpenCyphal/libcanard
