# copy to /etc/systemd/system
# then run sudo systemctl enable pductl.service

[Unit]
Description=pductl
After=nvpmodel.service

[Service]
Type=simple
ExecStart=/bin/sh -c '/usr/local/bin/pductl --quiet --port /dev/serial/by-id/usb-STMicroelectronics_STM32_Virtual_ComPort_*'

[Install]
WantedBy=multi-user.target
